name: Build & Deploy to TimeWeb

on:
  push:
  workflow_dispatch:

env:
  APP_NAME: mlops-app
  IMAGE_TAG: mlops-app-${{ github.ref_name }}-${{ github.sha }}
  ARCHIVE_NAME: mlops-app-${{ github.sha }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # === Этап 0: Подготовка скриптовой базы ===
      - name: Scripts become executable
        run: find scripts -name "*.sh" -exec chmod +x {} \;

      # === Этап 1: Тесты ===
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install test dependencies
        run: ./scripts/ci/setup_python.sh

      - name: Run tests
        run: pytest mlops/tests/test_app.py

      # === Этап 2: Сборка Docker-образа ===
      - name: Build Docker image
        run: ./scripts/ci/dockerBuild.sh

      # === Этап 3: Подготовка SSH ===
      - name: Setup SSH key
        run: ./scripts/ci/prepareSsh.sh ${{secrets.SSH_PRIVATE_KEY}} ${{secrets.SERVER_IP}}

      # === Этап 4: Сохранение и отправка ===
      - name: Save and compress Docker image
        run: ./scripts/ci/saveAndPost.sh \
          "${{ env.IMAGE_TAG }}" \
          "${{ env.ARCHIVE_NAME }}" \
          "${{ secrets.SERVER_USER }}" \
          "${{ secrets.SERVER_IP }}" 

      # === Этап 5: Подготовка сервера ===
      - name: Prepare Server utils
        run: ./scripts/server/dependencies.sh

      # === Этап 6: Запуск на сервере ===
      - name: Load image and run container on server
        run: ./scripts/ci/serverstart.sh \
          "${{ secrets.SERVER_IP }}" \
          "${{ secrets.SERVER_USER }}" \
          "${{ env.IMAGE_TAG }}" \
          "${{ env.APP_NAME }}" \
          "${{ env.ARCHIVE_NAME }}"

      - name: Cleanup
        run: echo "✅ Deployed ${{ env.IMAGE_TAG }} at $(date)"